resources:
- name: ansible
  type: ansible.jinja
  properties:
    zone: us-central1-a
    image-ansible: https://www.googleapis.com/compute/v1/projects/openshift-test-drive/global/images/family/aetd
    mtype-default: n1-standard-1

outputs:
- name: AnsibleHost
  value: $(ref.ansible.AnsibleHost)
- name: ssh-user
  value: $(ref.ansible.ssh-user)
- name: ssh-password
  value: $(ref.ansible.ssh-password)
- name: WebServer
  value: $(ref.ansible.WebServer)
- name: DbServer
  value: $(ref.ansible.DbServer)
